/* GLOBAL*/
html {
   box-sizing: border-box;
   font-size: 62.5%; /* set default to 10px */
}
*, *:before, *:after {
   box-sizing: inherit;
}
html, body{
   height: 100%;
}
body {
   background: gainsboro;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5rem;
   line-height: 1.4;
}
h1, h2, h3 {
   font-family: 'Caveat', 'cursive';
   font-weight: 400;
   margin: 0;
}
h1 {
   font-size: 7rem;
   line-height: 0.85;
}
h2 {
   font-size: 3.6rem;
}
h3 {
   font-size: 2.4rem;
}

/* LINKS */
a {
   color: #3C8453;
}
a:hover {
   color: #BCAA96;
   text-decoration: none;
}
footer a {
   color: #BCAA96;
}
footer a:hover {
   color: #3C8453;
}
.content-wrapper {
   margin: 0 auto;
   padding: 30px;
   max-width: 900px;
}
.btn {
   background: #3c8453;
   color: #f6f6f6;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 1.2rem;
   display: inline-block;
   padding: 7px;
   letter-spacing: 0.1em;
   line-height: 1;
   border-radius: 4px;
}

/* HOME */
.home {
   background: url(../images/dell-website-background.jpg) no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
}
.home .content-wrapper{
   flex: 1 0 auto;
}
.content-bg {
   background: rgb(255 255 255 / 0.9);
   padding: 30px;
}
@media screen and (max-width:650px){
   .home .content-wrapper{
      padding: 10px;
   }
   .content-bg{
      padding: 20px;
   }
}

/* cv */
.cv header::before {
   background: url(../images/dell-website-background.jpg) center;
   background-size: cover;
   content: "";
   display: block;
   height: 375px;
}
.cv-section {
   margin-bottom: 50px;
}
.cv-section h2 {
   border-bottom: 2px dashed #D3D4D6;
}
.download-link {
   position: fixed; /* Will not move from the top. */
   top: 5px;
   left: 5px;
   font-size: 1.5em;
}
@media screen and (max-width:1200px){
   .download-link {
      position: absolute;
   }
}
@media screen and (max-width:500px){
   .cv header::before{
      height:200px;
   }
   h1{
      font-size: 5rem;
   }
   h2{
      font-size: 2.5rem;
   }
}

/* PROJECTS */
.project-item {
   display: flow-root;
}

.project-item img {
   width: 100px;
}
@media screen and (min-width:860px) {
   .project-item {
      display: flow-root;
   }
   .project-item img {
      float: left;
      margin-right: 20px;
   }
}
@media screen and (min-width:650) and (max-width:859px) {
   .project-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 20px;
   }
   .project-item {
      width: 100%;
   }
}
@media screen and (max-width:500px) {
   .project-item {
      width: 100%;
      margin-bottom: 10px;
   }
}

/* EDUCATION */
.education-item {
   margin: 30px 0;
}
.education-item p {
   margin: 0;
}

/* FOOTER */
footer {
   background: #222;
   color: #D3D4D6;
}
.socials {
   list-style-type: none;
   padding: 0;
}
.socials li {
   display: inline-block;
   margin-left: 10px;
}
.socials img {
   width: 32px;
}
.socials img:hover {
   opacity: 0.5;
}
@media screen and (min-width:860px){
   footer {
      display: flex;
      justify-content: space-between; /* The text on the left and the socials on the right with space in between */
      padding: 0 20px;
   }
}
@media screen and (max-width:859px) {
   footer {
      text-align: center;
      padding: 10px;
   }
}